<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Home</title>


    <script type="text/hyperscript" src="/hs/uploader.hs" defer></script>
    <link rel="stylesheet" href="/css/uploader.css">

</head>

<body>



    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">

            <!-- Header -->
            <header class="py-5" layout:fragment="header">

            </header>

            <section class="bg-light py-5" layout:fragment="content">
                <div class="container">
                    <div class="container uploader" hx-ext="loading-states" data-loading-states hx-target="this">
                        <div class="uploader mb-3" htx-
                            script="install Uploader(imgId:'img' ) on upload:success alert('yusss!')">


                            <form hx-post="/post"  hx-trigger="submit" hx-encoding="multipart/form-data" _='on htmx:xhr:progress(lengthComputable, loaded, total) if lengthComputable then set #progress.value to (loaded/total)*100 end
                               on htmx:afterRequest trigger upload:success' hidden="true">

                                <input type="file" id="manual-upload" name="file" accept="image/*">
                            </form>
                            <div class="space-below gray40"><i class="fa-solid fa-arrow-up-from-bracket fa-8x"></i>
                            </div>
                            <div data-loading="inline flex" class="flex-column align-items-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <progress id="progress" max="100" value="0"></progress>
                            </div>
                            <h2 class="space-below">Drag Files Here to Upload</h2>
                            <label class="btn btn-primary" for="manual-upload" role="button">Or Click to Select from
                                Your
                                Device</label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <footer layout:fragment="footer">
                <!-- Include footer.pug -->
            </footer>
        </main>
    </body>

</html>